{% extends 'base/checkout.html' %}
{% load staticfiles %}
{% block main %}
{% load bootstrap4 %}

<div class="container">
    <div class="Row">

        <!--Imagen-->
        <div class="col-md-6">
            <img style="width: 100%; float: left;" src="../../static/img/addImage.png">
        </div>

        <div class="col-md-6">
            <form method="POST">

                {% csrf_token %}
                <!--Token-->
                <!--DIV DE IMAGEN-->


                <!--Formulario-->

                <div class="Row">
                    {% bootstrap_form form %}
                </div>
                <div class="Row">
                    <button type="submit" class="primary-btn">Publicar</button>
                </div>
            </form>
        </div>

    </div>
    {% endblock %}